{% extends 'base.html' %}

{% block title %}Procesar Cobro{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-5">
        <div class="card border-primary shadow-lg">
            <div class="card-header bg-primary text-white text-center py-3">
                <h4 class="mb-0">VALIDAR PAGO</h4>
            </div>
            
            <div class="card-body text-center p-4">
                <h6 class="text-muted">Saldo Disponible</h6>
                <h1 class="display-3 text-success fw-bold">Q{{ tarjeta.saldo }}</h1>
                <p class="text-secondary font-monospace small">ID: {{ tarjeta.id }}</p>

                <hr class="my-4">

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="uuid" value="{{ tarjeta.id }}">
                    
                    <div class="mb-4 text-start">
                        <label class="form-label fw-bold text-danger">🔒 PIN de Seguridad</label>
                        <input type="password" name="pin" class="form-control form-control-lg text-center fw-bold" 
                               style="letter-spacing: 5px;" placeholder="* * * *" maxlength="4" pattern="\d{4}" inputmode="numeric" required autocomplete="off">
                    </div>

                    <div class="mb-4 text-start">
                        <label class="form-label fw-bold text-dark">Monto a Cobrar</label>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bg-light border-primary text-primary fw-bold">Q</span>
                            <input type="number" step="0.01" name="monto" class="form-control border-primary fw-bold" placeholder="0.00" required>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg py-3 fw-bold shadow-sm">CONFIRMAR PAGO</button>
                        <a href="{% url 'terminal' %}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}